<div class="user {{this.selectedClassname}}" style={{this.color}} {{ on "click" this.selected}}>

  <h3>{{this.name}}
    <Buttonim @imgSrc="/assets/images/edit.png" @clicked={{this.updateName}} />
  </h3>
  <div class="detail owner">
    <span style="display:inline;">Age:</span> {{this.user.age}}
    {{!--
    <Buttonim @imgSrc="/assets/images/edit.png" @clicked={{this.updateAge}} /> --}}
    <span style="display:inline; padding-left: 30px;">Total events in their calendar:</span> {{this.nbEvents}}
    <span style={{this.color}} class="calendar-color">Calendar
      color
      <Buttonim @imgSrc="/assets/images/edit.png" @clicked={{this.updateColor}} />
    </span>
  </div>
  <div class="action">
    <Buttonim @imgSrc="/assets/images/select.png" @clicked={{this.selected}} @text="{{this.selectButton}}" />
    <Buttonim @imgSrc="/assets/images/delete.png" @clicked={{this.delete}} />
  </div>
</div>